@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(96.7% 0.001 286.375);
  --foreground: oklch(14.1% 0.005 285.823);
}

.dark {
  --background: oklch(14.1% 0.005 285.823);
  --foreground: oklch(96.7% 0.001 286.375);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
